@import 'var';
@import "~element-ui/packages/theme-chalk/src";
@import '~element-ui/packages/theme-chalk/src/display';

@import "~@fortawesome/fontawesome-free/css/all.css";

@import 'utils';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    background: $--background-color-base;
    color: $--color-text-regular;
}

.form-item {
    margin-top: 15px;
}

.el-input, .el-textarea {
    &.invalid &__inner {
        border-color: $--color-danger;
    }
}

.service-worker-message {
    max-width: calc(100vw - 30px);
    box-sizing: border-box;
    padding: 0;
    margin: 15px;

    .el-message-box {
        &__btns {
            display: none;
        }
    }
}
